html, body {
  margin: 0px;
  padding: 0px;
  background: #FFF; }

body {
  width: 100%;
  margin: 0 auto;
  color: #000;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300; }

body.page-id-7 {
  width: calc(100% - 20px);
  border-left: 10px solid #FFF;
  border-right: 10px solid #FFF; }

h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

strong {
  font-weight: 600; }

button {
  width: auto;
  padding: 18px;
  text-align: center;
  background: #5F5F59;
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  border: none;
  text-transform: uppercase;
  margin: 0px;
  -webkit-appearance: none;
  -moz-appearance: none; }

button.single-image {
  width: 500px; }

input[type='submit'] {
  background: #7f7f77;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 14px;
  color: #FFF;
  padding: 8px 16px;
  text-align: center;
  margin-left: -4px;
  min-width: 140px;
  font-weight: 300;
  -webkit-appearance: none; }

input[type='email'] {
  width: 325px;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
  font-size: 14px;
  font-weight: 300; }

::-webkit-input-placeholder {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300; }

:-moz-placeholder {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300; }

::-moz-placeholder {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300; }

:-ms-input-placeholder {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300; }

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

header .contact-banner .swatches img {
  margin-left: 32px;
  height: 29px;
  width: 29px; }

header .contact-banner .swatches .swatch-count {
  background: rgba(0, 0, 0, 0.25);
  display: block;
  color: #FFF;
  text-align: right;
  width: 50px;
  height: 50px;
  margin: 0 0 0 24px;
  text-align: center;
  line-height: 50px; }

header .contact-banner .swatches .swatch-count a {
  color: #FFF;
  text-decoration: none; }

header nav {
  background: none;
  border: none;
  height: 100px; }

.logo {
  flex: 1;
  text-align: right; }

.logo a {
  fill: #FFF;
  flex: 1;
  text-align: right; }

.logo img {
  width: 300px;
  height: 43px;
  fill: #7F7F77; }

nav {
  width: 100%;
  padding: 0px 32px;
  margin: 0;
  height: auto;
  background: #FFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: stretch; }

nav ul {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center; }

nav ul li {
  flex: 1;
  margin-right: 48px;
  text-align: center;
  color: #7F7F77;
  padding: 32px 0px;
  text-transform: uppercase;
  display: block; }

nav ul li a {
  color: #000;
  text-decoration: none;
  transition: color .3s ease-in;
  font-size: 18px;
  font-weight: 400; }

nav ul li a:hover {
  color: #5F5F59; }

nav ul li ul.sub-menu {
  display: none; }

nav ul li:hover > ul.sub-menu::after, nav ul li:hover > ul.sub-menu::before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

nav ul li:hover > ul.sub-menu::before {
  content: '';
  border-color: rgba(127, 127, 119, 0);
  border-bottom-color: #7F7F77;
  border-width: 11px;
  margin-left: -11px; }

nav ul li:hover > ul.sub-menu {
  position: absolute;
  display: flex;
  max-width: 200px;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid #7F7F77;
  background: #FFF;
  border-radius: 2px;
  padding: 8px 16px;
  margin: 16px 0 0 -48px;
  z-index: 2000; }

nav ul li:hover > ul.sub-menu::after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFF;
  border-width: 10px;
  margin-left: -10px; }

nav ul li ul.sub-menu li {
  line-height: 1.5;
  margin-right: 0px;
  padding: 8px 0px; }

nav ul li ul.sub-menu li a {
  font-size: 16px;
  font-weight: 300;
  color: #5F5F59;
  transition: color .3s ease-in; }

nav ul li ul.sub-menu li a:hover {
  color: #000; }

nav ul li a img {
  margin: 8px 0 0 0; }

nav .swatches a {
  color: #000;
  text-decoration: none;
  transition: color .3s ease-in;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none; }

nav .swatches a:hover {
  color: #5F5F59; }

nav .swatches a span.swatch-count {
  padding: 6px 2px 5px;
  background: #7F7F77;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #FFF; }

.home-content {
  width: 100%;
  min-height: calc(100vh - 170px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.home-content .home-box {
  flex: 1;
  width: 50%;
  height: 87vh;
  background: #000;
  border-right: 5px solid #FFF;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/couture-home-2.jpg") no-repeat center;
  background-size: cover;
  transition: linear-gradient 0.35s ease-in; }

.home-content .home-box:nth-child(2) {
  border-right: none;
  border-left: 5px solid #FFF;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../img/collections-home-2.jpg") no-repeat center;
  background-size: cover; }

.home-content .home-box h1 {
  font-size: 60px;
  color: #FFF;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase; }

.home-content .home-box p {
  width: 80%;
  margin: 1em 10%;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  opacity: 0; }

.home-content .home-box:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/couture-home-2.jpg") no-repeat center;
  background-size: cover;
  cursor: pointer; }

.home-content .home-box:nth-child(2):hover {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/collections-home-2.jpg") no-repeat center;
  background-size: cover; }

.home-content .home-box:hover > p {
  display: block;
  animation: fadeIn 0.75s forwards;
  animation-delay: 0.25s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.banner {
  width: 100%;
  height: 650px;
  max-height: 650px; }

.banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 650px;
  min-height: 650px;
  padding: 0 1.5%;
  background: rgba(0, 0, 0, 0.425);
  color: #FFF; }

.banner .banner-content h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
  font-style: normal;
  margin: 0; }

.banner .banner-content h1 strong {
  font-weight: 500;
  font-size: 72px;
  line-height: 50px; }

.banner .banner-content p {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300; }

.center-content {
  text-align: center;
  width: 90%;
  margin: 64px auto;
  clear: both; }

.center-content h1 {
  font-size: 48px;
  line-height: 48px; }

.center-content h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  font-style: normal; }

.center-content p {
  font-size: 16px;
  line-height: 21px; }

.center-content p strong {
  font-weight: 700; }

/* Couture */
.process-imagery {
  width: 100%;
  height: auto; }

.process-imagery img {
  width: 100%; }

.process-imagery ul {
  width: 100%;
  margin: 0px;
  margin-left: -40px; }

.process-imagery ul li {
  width: 50%;
  margin: 0px;
  list-style: none;
  float: left; }

.process-imagery ul li img {
  width: 100%;
  margin: 0px;
  height: auto;
  display: block; }

.process-imagery ul li:nth-child(2) img {
  border-left: 10px solid #FFF; }

.process-imagery ul li:nth-child(3) img {
  height: auto;
  overflow: hidden;
  border-top: 10px solid #FFF;
  border-left: 10px solid #FFF; }

.processes {
  clear: both;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 0px; }

.processes ol {
  width: 100%;
  margin: 0 0 0 -40px;
  list-style: none;
  counter-reset: listNumbering;
  column-count: 2;
  column-gap: 5%; }

.processes ol li {
  clear: left;
  font-size: 16px;
  margin-bottom: 0px;
  counter-increment: listNumbering;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }

.processes ol li:before {
  content: counter(listNumbering);
  font-size: 2.75em;
  font-weight: 400;
  margin-top: -10px;
  margin-right: 16px;
  margin-bottom: 85px;
  color: #7F7F77;
  display: block;
  float: left; }

.processes ol li:first-of-type > p {
  margin-top: 0px; }

.processes ol li p strong {
  font-weight: 700; }

.installations {
  content: '';
  padding-top: 0px;
  clear: both; }

.installations .owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.installations .installation-desc {
  width: 100%;
  margin: 0px;
  text-indent: 32px;
  color: #FFF;
  font-size: 13px;
  font-weight: 300;
  background: #7F7F77;
  padding: 8px 0; }

/* Collections */
.collections {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.collections .box {
  flex: 1;
  width: 400px;
  min-width: 400px;
  min-height: 600px;
  display: flex;
  flex-direction: column-reverse; }

.collections .box:nth-child(3n-1) {
  border-left: 10px solid #FFF;
  border-right: 10px solid #FFF; }

.collections .box:nth-last-child(-n+3) {
  border-top: 10px solid #FFF; }

.collections .box:hover {
  cursor: pointer; }

.collections .box .information {
  display: block;
  width: auto;
  padding: 0px 32px;
  height: auto;
  color: #FFF;
  background: rgba(0, 0, 0, 0.5); }

.collections .box .information h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase; }

.collections .box .information p {
  display: none;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300; }

.collections .box:hover > .information p {
  visibility: visible;
  display: inherit;
  animation: fadeIn 0.75s forwards;
  animation-delay: 0.125s; }

.collections .box-collection {
  flex: 1;
  min-height: 600px;
  display: flex;
  border-left: 5px solid #FFF;
  border-right: 5px solid #FFF;
  flex-direction: column-reverse; }

.collections .box-collection:hover {
  cursor: pointer; }

.collections .box-collection:nth-child(1) {
  border-left: none; }

.collections .box-collection:nth-child(2) {
  border-right: none; }

.collections .box-collection .company-logo {
  width: 100%;
  display: block;
  width: auto;
  padding: 8px 0px;
  height: auto;
  color: #FFF;
  background: #000;
  text-align: center; }

.collections .box-collection .company-logo img {
  max-height: 80px; }

/* Leading Edges */
.edges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.edges .edge-block {
  flex: 1;
  width: 25%;
  height: 100%;
  max-width: 332px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 5px solid #FFF; }

.edges .edge-block a {
  text-decoration: none; }
  .edges .edge-block a:hover {
    cursor: pointer; }

.edges .edge-block a img {
  width: 100%;
  min-width: 322px;
  height: auto; }

.edges .edge-block a .edge-name {
  background: rgba(0, 0, 0, 0.35);
  text-align: center;
  color: #FFF;
  height: 65px;
  max-height: 65px;
  text-transform: uppercase;
  transition: background 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center; }

.edges .edge-block a:hover > .edge-name {
  background: rgba(0, 0, 0, 0.7); }

.edges .edge-block-thin {
  flex: 1;
  width: 100%;
  height: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 5px solid #FFF; }

.edges .edge-block-thin a {
  text-decoration: none; }

.edges .edge-block-thin a img {
  width: 150px;
  max-width: 140px;
  height: auto; }

.edges .edge-block-thin a .edge-name {
  background: rgba(0, 0, 0, 0.35);
  text-align: center;
  color: #FFF;
  height: 65px;
  max-height: 65px;
  text-transform: uppercase;
  transition: background 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center; }

.edges .edge-block-thin a:hover > .edge-name {
  background: rgba(0, 0, 0, 0.7); }

/* Tapes Section */
.container {
  width: 95%;
  margin: 0 auto; }

.gallery-container {
  width: 95%;
  margin: 0 auto; }

.container-whistler {
  width: 100%;
  padding-top: 0px; }

.tabs {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin: 32px auto 0 auto; }

.tabs div {
  background: none;
  color: #222;
  display: inline-block;
  cursor: pointer; }

.tabs div.current {
  color: #7F7F77; }

.closex {
  margin-left: 95%;
  padding-bottom: 24px; }

.the-tape .closex img {
  width: 36px;
  height: 36px; }

.the-tape .single-image {
  width: 100%;
  margin: 8px 0px 0px 0px; }

.the-tape .single-image img {
  width: 100%;
  height: auto;
  margin: 0 8px; }

.closex:hover {
  cursor: pointer; }

.tabs .tab-name {
  bottom: 0;
  position: inherit;
  height: 80px;
  top: -32px;
  font-size: 18px;
  margin: -4px 0 0 0;
  padding: 0 4px;
  display: block;
  background: #7F7F77;
  color: #FFF;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  max-height: 80px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: 80px;
  max-width: 142px; }

.tabs div.current > img {
  border: none; }

.tabs div.current > .tab-name {
  background: #7F7F77 url("img/arrow.png") no-repeat center bottom;
  background-position-y: 65px; }

.tab-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 32px 0 0 0;
  width: auto;
  height: 0px;
  background: #FFF;
  padding-bottom: 32px; }

.tab-content.current {
  visibility: visible;
  opacity: 1;
  display: block;
  height: 550px;
  position: inherit; }

.tab-link:first-child {
  margin-left: 0px; }

.tab-link {
  width: 16.666666667%;
  margin: 0; }

.tab-link img {
  width: auto;
  max-width: 150px;
  min-height: 500px; }

.the-tape {
  width: auto;
  max-width: 1180px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.the-tape .tape-swatch {
  width: 45%;
  margin-right: 5%;
  height: auto; }

.the-tape .tape-description {
  width: 50%;
  color: #74706A; }

.the-tape .tape-description h1 {
  font-weight: 300;
  font-style: normal;
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 0px; }

.the-tape .tape-description h3 {
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase; }

.the-tape .tape-description p {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px; }

.other-products {
  width: 100%;
  margin-top: 50px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.other-products h3 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase; }

.other-products h3 strong {
  font-weight: 500; }

.other-products .product-boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.other-products .product-boxes .box {
  flex: 1;
  width: 50%;
  height: 400px;
  background: red; }

.other-products .product-boxes .box:hover {
  cursor: pointer; }

.other-products .product-boxes .box:nth-child(2) {
  border-left: 10px solid #FFF; }

.other-products .product-boxes .box h2 {
  font-size: 32px;
  font-weight: 300;
  padding: 24px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  margin: 0;
  margin-top: 315px;
  color: #FFF;
  text-indent: 32px;
  text-transform: uppercase; }

.other-products .product-boxes .box h2 strong {
  font-weight: 700; }

/* Product Details */
.product-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.product-details .image-section {
  width: 50%;
  max-width: 600px; }

.product-details .image-section #main-gallery-area {
  display: flex;
  justify-content: center; }

.product-details .image-section #main-gallery-area img {
  width: auto;
  height: auto;
  max-height: 600px;
  max-width: 600px; }

.tooltip {
  position: relative;
  display: inline-block; }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  color: #FFF;
  text-align: center;
  padding: 4px 0px 0px 0px;
  bottom: 8px;
  font-size: 14px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1; }

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible; }

.product-details .image-section ul.gallery-thumbnails {
  margin: 16px 0 0 0;
  padding: 0;
  list-style: none;
  display: inline-block; }

.product-details .image-section ul.gallery-thumbnails li {
  margin-right: 8px;
  float: left; }

.product-details .image-section ul.gallery-thumbnails li:hover {
  cursor: pointer; }

.product-details .image-section ul.gallery-thumbnails li img {
  width: auto;
  max-width: 125px;
  height: auto; }

.product-details .product-information {
  width: 45%;
  height: auto;
  margin-left: 5%; }

.product-details .product-information pre {
  margin-top: 32px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #7F7F77; }

.product-details .product-information .button__group {
  margin: 32px 0px;
  display: flex;
  justify-content: space-between; }

.product-details .product-information .button__group button.contact__button {
  width: auto;
  color: #5F5F59;
  background: #FFF url("../img/contact_btn.png") no-repeat center left;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 64px; }

.product-details .product-information .button__group button.tearsheet__button {
  width: auto;
  color: #5F5F59;
  background: #FFF url("../img/tearsheet_btn.png") no-repeat center left;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 64px; }

.product-details .product-information button:hover {
  cursor: pointer; }

.product-details .product-information .selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  float: left;
  min-width: 350px;
  margin: 0; }

/*To remove button from IE11, thank you Matt */
.product-details .product-information .selectdiv select::-ms-expand {
  display: none; }

.product-details .product-information .selectdiv:after {
  content: '>';
  color: #000;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 5%;
  /*Adjust for position however you want*/
  top: 13px;
  padding: 0 0 10px;
  /*left line */
  position: absolute;
  pointer-events: none; }

.product-details .product-information .selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
  display: block;
  width: 100%;
  height: 54px;
  margin: 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #7F7F77;
  border-radius: 0px;
  -ms-word-break: normal;
  word-break: normal; }

/*.product-details .product-information button {
	width: auto;
	padding: 16px;
	max-height: 50px;
	margin: 5px 16px;
	background: $dark-grey;
} */
#contact-form-area {
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding: 32px;
  margin: 0;
  box-sizing: border-box;
  background: #FFF;
  border-top: 5px solid #5F5F59;
  visibility: hidden;
  display: none; }

#contact-form-area.show {
  display: block;
  visibility: visible;
  animation: contactUp 0.5s, fadeout 0.5s 2.5s;
  bottom: 0;
  position: absolute;
  z-index: 1000; }

.contact-form-area p.tel a {
  color: #5F5F59;
  font-size: 32px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-decoration: none; }

.contact-form-area .closeBtn {
  width: 32px;
  height: 32px;
  float: right; }
  .contact-form-area .closeBtn:hover {
    cursor: pointer; }

.contact-form {
  width: 90%;
  margin: auto; }

.contact-form form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.contact-form div {
  width: 50%; }

.contact-form div input[type='email'], .contact-form div input[type='text'], .contact-form div textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: none;
  color: #000;
  font-size: 14px;
  font-weight: 300; }

.contact-form div input[type='submit'] {
  min-width: 350px;
  padding: 16px 8px;
  border: none;
  text-transform: uppercase; }

.contact-form p.large-samples {
  width: 100%; }

@keyframes contactUp {
  from {
    bottom: -500px;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }
/* Home Page - Carousel */
.owl-carousel {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.owl-carousel .intro {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  float: left;
  text-transform: uppercase;
  margin-top: -65px;
  text-indent: 16px;
  padding: 16px 0;
  font-size: 28px;
  color: #FFF;
  z-index: 500;
  position: absolute; }

.owl-carousel button {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 8px; }

.owl-carousel .slider {
  height: auto;
  min-height: 600px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }

.owl-carousel .slide-content {
  width: 60%;
  max-width: 600px;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }

.owl-carousel .slide-content img {
  width: auto;
  max-width: 500px;
  height: auto;
  margin-bottom: 25px; }

.owl-carousel .slide-content h3 {
  font-family: "freight-display-pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  line-height: 1.25em; }

.owl-carousel .slide-content p {
  font-family: "freight-display-pro", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #FFF;
  text-align: center; }

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: right;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-controls .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 0px;
  padding: 8px;
  background: #7F7F77;
  display: inline-block;
  cursor: pointer; }

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-controls .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-theme .owl-dots {
  margin-top: 5px; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
  z-index: 1500;
  position: relative; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px;
  background: none;
  border: 2px solid #7F7F77;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #7F7F77;
  border: 2px solid #7F7F77; }

/* External Collections */
.collections .external-tape {
  flex: 1;
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  box-shadow: inset 5px 5px 0px 0px #FFF, inset -5px -5px 0px 0px #FFF;
  overflow: hidden; }

.collections .external-tape:hover {
  cursor: pointer; }

.collections .external-tape .external-tape-information {
  display: block;
  width: auto;
  margin: 0 5px 5px 5px;
  padding: 0px 32px;
  height: auto;
  color: #FFF;
  background: rgba(0, 0, 0, 0.35); }

.collections .external-tape .external-tape-information h3 {
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase; }

.collections .external-tape .external-tape-information p {
  display: none;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300; }

.collections .external-tape:hover > .external-tape-information p {
  visibility: visible;
  display: inherit;
  animation: fadeIn 0.75s forwards;
  animation-delay: 0.125s; }

.external-contact {
  width: 500px;
  margin: 0 auto; }

.external-contact button {
  margin-bottom: 16px; }

.external-contact button:hover {
  cursor: pointer; }

.external-contact p strong {
  font-size: 18px;
  text-transform: uppercase; }

.external-contact p {
  font-size: 14px; }

.external-contact p a {
  color: #7F7F77; }

/* Contact */
.distributors {
  width: 90%;
  height: auto;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.distributors .distributor {
  width: 100%;
  text-align: center; }

.distributors .showrooms {
  flex: 1;
  width: auto;
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.distributors .showrooms .showroom {
  width: 30%;
  text-align: center; }

.distributors .showrooms .showroom h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal; }

.jrs .showrooms {
  flex: 1;
  width: auto;
  margin: 1em 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.jrs .showrooms .showroom {
  width: 25%;
  text-align: center; }

.jrs .showrooms .showroom h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal; }

textarea {
  height: 250px; }

div.wpcf7 {
  width: 100%; }

.wpcf7-form div p:last-of-type {
  width: 100%;
  margin: 0 0; }

.wpcf7-form p:last-of-type {
  width: 350px;
  margin: 16px auto; }

/* Whistler Leather */
.tape-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 32px 0 0 0;
  width: 90%;
  height: 0px;
  margin-left: 7.5%;
  background: #FFF;
  padding-bottom: 32px; }

.tape-content.current {
  visibility: visible;
  opacity: 1;
  display: block;
  height: 800px;
  position: inherit; }

.the-tape img {
  width: 750px;
  margin: auto; }

/* News */
.news-stories {
  width: 90%;
  margin: -64px 5% 32px 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.news-stories .news-box {
  width: 30%;
  height: auto;
  border: 1px solid #7F7F77;
  text-align: center;
  margin-top: 5%; }

.news-stories .news-box h3 {
  text-transform: uppercase;
  font-weight: 400; }

.news-stories .news-box p {
  margin: 0.25em 0.5em;
  font-size: 14px; }

.news-stories .news-box img {
  width: 100%; }

.news-stories .news-box button {
  margin: 32px 0px 0px 0px; }

.news-stories .news-box:nth-child(3n+2) {
  margin: 5% auto 0 auto; }

.news-article-area {
  width: 95%;
  height: auto;
  margin: 1em 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.news-article-area .news-sidebar {
  width: 30%;
  margin-right: 5%;
  order: 1; }

.news-article-area .news-sidebar img {
  width: 100%;
  margin-bottom: 24px; }

.news-article-area .news-article {
  width: 65%;
  order: 2; }

.news-article-area .news-article h5 {
  color: #7F7F77;
  text-transform: uppercase;
  font-size: 16px; }

button.document {
  width: 100%;
  background-image: url(img/pdf.png);
  background-repeat: no-repeat;
  background-position-x: 25px;
  background-position-y: center;
  text-indent: 25px;
  margin: 0px; }

/* Footer */
footer {
  margin-top: 10px;
  width: 100%;
  height: auto;
  background: #7F7F77;
  font-size: 13px;
  color: #FFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

footer.home {
  height: 45px;
  min-height: 45px;
  max-height: 45px;
  border-bottom: 10px solid #FFF; }

footer .footer-info {
  width: 90%;
  height: 125px;
  min-height: 125px;
  margin: 0 5%;
  padding: 16px 0 16px 0;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

footer .footer-info .press {
  flex: 1;
  height: 30px; }

footer .footer-info .press svg {
  width: 36px;
  height: 30px;
  margin: 0px 16px 0px 0px; }

footer .footer-info .newsletter {
  text-align: right;
  flex: 1; }

footer .footer-info .newsletter p {
  color: #FFF;
  text-transform: uppercase;
  font-size: 10px; }

footer .address {
  margin: 0 5%;
  width: auto;
  padding: 16px 0;
  flex: 4; }

footer .address span {
  color: #000;
  margin-left: 16px; }

footer .address a {
  text-decoration: none;
  color: #FFF; }

footer .copyright {
  flex: 1;
  text-align: right;
  padding: 16px 0;
  text-transform: uppercase;
  margin-right: 5%; }

footer ::-webkit-input-placeholder {
  color: #FFF; }

footer :-moz-placeholder {
  color: #FFF; }

footer ::-moz-placeholder {
  color: #FFF; }

footer :-ms-input-placeholder {
  color: #FFF; }

/* JigoShop */
#swatches-container {
  width: 95%;
  margin: 1em 2.5%; }

ul#swatches-list {
  list-style: none;
  margin-left: -40px;
  width: 100%; }

ul#swatches-list h3 {
  font-weight: 300;
  text-transform: uppercase; }

ul#swatches-list li {
  width: 30%;
  float: left;
  margin: 1em 1.5%; }

ul#swatches-list li img {
  width: 100%;
  height: auto; }

button.remove {
  margin-left: 0px; }

.hide {
  display: none !important; }

/* My Swatches */
h3.get-samples {
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 5%; }

h3.get-samples span {
  font-weight: 700; }

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  nav #navigationArea {
    width: 50%; }

  header .contact-banner .contact-phone a {
    color: #FFF;
    text-decoration: none; }

  .home-content .home-box p {
    display: none; }

  .banner .banner-content {
    width: 40%; }

  .banner .banner-content p {
    font-size: 18px;
    line-height: 24px; }

  .container {
    width: 98%;
    margin: 0 1%; }

  .tabs {
    margin: 32px 0 0 0; }

  .the-tape {
    max-width: 900px; }

  .tab-content.current {
    width: 90%;
    margin: 0 5% 0 2.5%; }

  .tape-content {
    width: 775px; }

  .tape-content.current {
    width: 100%;
    margin: 0; }

  .processes ol li {
    min-height: 220px; }

  .processes ol li:before {
    margin-bottom: 125px; }

  footer {
    flex-wrap: nowrap;
    flex-direction: column; }

  footer.home {
    height: auto;
    min-height: 60px;
    max-height: 100%; }

  footer .address {
    width: 90%;
    flex: 1; }

  footer .copyright {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    flex: 1; } }
/* iPhone 6 */
@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-moz-device-pixel-ratio: 2) {
  ::-webkit-input-placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #000; }

  :-moz-placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #000; }

  ::-moz-placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #000; }

  :-ms-input-placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: #000; }

  .contact-form div input[type='email'], .contact-form div input[type='text'], .contact-form div textarea {
    width: 97.5%;
    padding: 24px 12px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: none;
    color: #000;
    font-size: 21px;
    font-weight: 300; }

  header .contact-banner .contact-phone a {
    color: #FFF;
    text-decoration: none; }

  nav #navigationArea {
    width: 75%; }

  .logo {
    height: auto;
    text-align: center; }

  header nav {
    height: 200px; }

  nav ul {
    width: 100%;
    justify-content: center; }

  .home-content {
    flex-direction: column;
    flex-wrap: nowrap; }

  .home-content .home-box {
    width: 100%;
    height: 45vh;
    border-right: none; }

  .home-content .home-box:nth-child(2) {
    border-top: 10px solid #FFF;
    border-left: none; }

  .home-content .home-box p {
    display: none; }

  .banner .banner-content {
    width: 50%; }

  .banner .banner-content h1 {
    font-size: 72px;
    line-height: 72px; }

  .banner .banner-content p {
    font-size: 24px;
    line-height: 32px; }

  .center-content p {
    font-size: 21px;
    line-height: 27px; }

  .processes ol {
    column-count: 1;
    column-gap: 0px; }

  .processes ol li {
    width: 100%;
    text-align: center;
    float: none; }

  .processes ol li:before {
    width: 100%;
    display: block;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 16px; }

  .installations .installation-desc {
    width: 100%;
    margin: 0;
    padding: 16px 0; }

  .installations .installation-desc p {
    width: 95%;
    font-size: 17px;
    margin: 0 2.5%; }

  .container {
    width: 90%;
    margin: 0 5%; }

  .collections .box, .collections .box-collection {
    min-height: 400px; }

  .tab-content {
    width: 95%;
    padding: 32px 2.5%; }

  .tabs {
    padding-left: 16px; }

  .the-tape .tape-description h1 {
    font-size: 62px; }

  .the-tape .tape-description p {
    font-size: 21px;
    line-height: 27px; }

  .product-details {
    width: 90%;
    margin: auto;
    flex-direction: column; }

  .product-details .image-section #main-gallery-area img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%; }

  .product-details .image-section {
    width: 100%;
    max-width: 100%;
    margin: 0; }

  .product-details .product-information {
    width: 100%;
    margin: 0; }

  .product-details .product-information .button__group button.tearsheet__button, .product-details .product-information .button__group button.contact__button {
    font-size: 32px; }

  .product-details .product-information .selectdiv {
    min-width: 500px; }

  .edges .edge-block {
    width: 33%; }

  .showrooms .showroom {
    width: 50%;
    flex: none;
    margin-top: 32px; }

  .showrooms .showroom h3 {
    font-size: 32px; }

  .showrooms .showroom p {
    font-size: 21px;
    line-height: 27px; }

  .contact-form div {
    width: 100%; }

  .news-stories .news-box {
    width: 45%;
    margin: 5% auto 0 auto; }

  .news-stories .news-box:nth-child(3n+2) {
    margin: 5% auto 0 auto; }

  .news-article-area .news-sidebar {
    order: 2;
    width: 100%; }

  .news-article-area .news-article {
    order: 1;
    width: 100%; }

  .news-article-area .news-article h1 {
    font-size: 48px; }

  .news-article-area .news-article h5 {
    font-size: 24px; }

  .news-article-area .news-article p {
    font-size: 21px;
    line-height: 24px; }

  footer {
    flex-wrap: nowrap;
    flex-direction: column; }

  footer.home {
    height: auto;
    min-height: 60px;
    max-height: 100%; }

  footer .address {
    width: 90%;
    flex: 1; }

  footer .copyright {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    flex: 1; } }

/*# sourceMappingURL=application.css.map */
