/* iPad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	nav #navigationArea {
		width: 50%;
	}
	header .contact-banner .contact-phone a {
		color: #FFF;
		text-decoration: none;
	}
	.home-content .home-box p {
		display: none;
	}
	.banner .banner-content {
		width: 40%;
	}
	.banner .banner-content p {
		font-size: 18px;
		line-height: 24px;
	}
	.container {
		width: 98%;
		margin: 0 1%;
	}
	.tabs {
	    margin: 32px 0 0 0;
	}
	.the-tape {
		max-width: 900px;
	}
	.tab-content.current {
		width: 90%;
		margin: 0 5% 0 2.5%;
	}
	.tape-content {
		width: 775px;
	}
	.tape-content.current {
		width: 100%;
		margin: 0;
	}
	.processes ol li {
		min-height: 220px;
	}
	.processes ol li:before {
		margin-bottom: 125px;
	}
	footer {
		flex-wrap: nowrap;
		flex-direction: column;
	}
	footer.home {
		height: auto;
		min-height: 60px;
		max-height: 100%;
	}
	footer .address {
		width: 90%;
		flex: 1;
	}
	footer .copyright {
		width: 90%;
		margin-left: 5%;
		text-align: left;
		flex: 1;
	}

}

/* iPhone 6 */
@media screen and (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-moz-device-pixel-ratio: 2) {

	::-webkit-input-placeholder {
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 21px;
		color: #000;
	}
	:-moz-placeholder { 
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 21px;
		color: #000;
	}
	::-moz-placeholder {
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		font-size: 21px;
		color: #000;
	}
	:-ms-input-placeholder { 
		font-family: 'Raleway', sans-serif;
		font-weight: 300; 
		font-size: 21px;
		color: #000;
	}
	.contact-form div input[type='email'], .contact-form div input[type='text'], .contact-form div textarea {
		width: 97.5%;
		padding: 24px 12px;
		border: 1px solid rgba(0,0,0,0.3);
		background: none;
		color: #000;
		font-size: 21px;
		font-weight: 300;
	}
	header .contact-banner .contact-phone a {
		color: #FFF;
		text-decoration: none;
	}
	nav #navigationArea {
		width: 75%;
	}
	.logo {
		height: auto;
		text-align: center;
	}
	header nav {
		height: 200px;
	}
	nav ul {
		width: 100%;
		justify-content: center;
	}
	.home-content {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.home-content .home-box {
		width: 100%;
		height: 45vh;
		border-right: none;
	}
	.home-content .home-box:nth-child(2) {
		border-top: 10px solid #FFF;
		border-left: none;
	}
	.home-content .home-box p {
		display: none;
	}
	.banner .banner-content {
		width: 50%;
	}
	.banner .banner-content h1 {
		font-size: 72px;
		line-height: 72px;
	}
	.banner .banner-content p {
		font-size: 24px;
		line-height: 32px;
	}
	.center-content p {
		font-size: 21px;
		line-height: 27px;
	}
	.processes ol {
		column-count: 1;
		column-gap: 0px;
	}
	.processes ol li {
		width: 100%;
		text-align: center;
		float: none;
	}
	.processes ol li:before {
		width: 100%;
		display: block;
		text-align: center;
		margin-right: 0px;
		margin-bottom: 16px;
	}
	.installations .installation-desc {
		width: 100%;
		margin: 0;
		padding: 16px 0;
	}
	.installations .installation-desc p {
		width: 95%;
		font-size: 17px;
		margin: 0 2.5%;
	}
	.container {
		width: 90%;
		margin: 0 5%;
	}
	.collections .box, .collections .box-collection {
		min-height: 400px;
	}
	.tab-content {
		width: 95%;
		padding: 32px 2.5%;
	}
	.tabs {
		padding-left: 16px;
	}
	.the-tape .tape-description h1 {
		font-size: 62px;
	}
	.the-tape .tape-description p {
		font-size: 21px;
		line-height: 27px;
	}
	
	.product-details {
		width: 90%;
		margin: auto;
		flex-direction: column;
	}
	.product-details .image-section #main-gallery-area img {
	    width: auto;
	    height: auto;
	    max-height: 100%;
	    max-width: 100%;
	}
	.product-details .image-section {
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
	.product-details .product-information {
		width: 100%;
		margin: 0;
	}
	.product-details .product-information .button__group button.tearsheet__button, .product-details .product-information .button__group button.contact__button {
		font-size: 32px;
	}
	.product-details .product-information .selectdiv {
		min-width: 500px;
	}
	
	.edges .edge-block {
		width: 33%;
	}
	
	.showrooms .showroom {
		width: 50%;
		flex: none;
		margin-top: 32px;
	}
	.showrooms .showroom h3 {
		font-size: 32px;
	}
	.showrooms .showroom p {
		font-size: 21px;
		line-height: 27px;
	}
	.contact-form div {
		width: 100%;
	}
	.news-stories .news-box {
		width: 45%;
		margin: 5% auto 0 auto;
	}
	.news-stories .news-box:nth-child(3n+2) {
		margin: 5% auto 0 auto;
	}
	.news-article-area .news-sidebar {
		order: 2;
		width: 100%;
	}
	.news-article-area .news-article {
		order: 1;
		width: 100%;
	}
	.news-article-area .news-article h1 {
		font-size: 48px;
	}
	.news-article-area .news-article h5 {
		font-size: 24px;
	}
	.news-article-area .news-article p {
		font-size: 21px;
		line-height: 24px;
	}
	footer {
		flex-wrap: nowrap;
		flex-direction: column;
	}
	footer.home {
		height: auto;
		min-height: 60px;
		max-height: 100%;
	}
	footer .address {
		width: 90%;
		flex: 1;
	}
	footer .copyright {
		width: 90%;
		margin-left: 5%;
		text-align: left;
		flex: 1;
	}

}