html, body {
	margin: 0px;
	padding: 0px;
	background: #FFF;
}
body {
	width: 100%;
	margin: 0 auto;
	color: #000;
	max-width: 1440px;
	margin: 0 auto;
	@include primary-font;
}
body.page-id-7 {
	width: calc(100% - 20px);
	border-left: 10px solid #FFF;
	border-right: 10px solid #FFF;
}
h1 {
	@include primary-font-heading;
	text-transform: uppercase;
}
strong {
	font-weight: 600;
}
button {
	width: auto;
	padding: 18px;
	text-align: center;
	background: $dark-grey;
	color: #FFF;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	border: none;
	text-transform: uppercase;
	margin: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
button.single-image {
	width: 500px;
}
input[type='submit'] {
	background: #7f7f77;
	border: 1px solid rgba(0,0,0,0.3);
	font-size: 14px;
	color: #FFF;
	padding: 8px 16px;
	text-align: center;
	margin-left: -4px;
	min-width: 140px;
	font-weight: 300;
	-webkit-appearance: none;
}
input[type='email'] {
	width: 325px;
	padding: 8px 16px;
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.3);
	color: #FFF;
	font-size: 14px;
	font-weight: 300;
}
::-webkit-input-placeholder {
	@include primary-font;
}

:-moz-placeholder { 
	@include primary-font;
}

::-moz-placeholder {
	@include primary-font;
}

:-ms-input-placeholder { 
	@include primary-font;
}